<p id="notice"><%= notice %></p>


<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>


<div id="todo_items_wrapper">
	<%= render @todo_list.todo_items %>
	<div id="form">
	  <%= render "todo_items/form" %>
	</div>
</div>


<div class="links">
<div class="Edit">
		<%= link_to edit_todo_list_path(@todo_list) do %>
			<i class="fa fa-pencil-square-o"></i>
		<% end %>
	</div>


<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: { confirm: "Siur Siur?"} %> |
<%= link_to 'Back', todo_lists_path %>

</div>

